<div class="tabs">
	<div class="tab">
		<a ng-click="goToMessages($event)" href="#">Messages</a>
	</div>
	<div class="tab active">
		<a ng-click="goToImages($event)" href="#">Images</a>
	</div>
</div>

<h1>Images</h1>

<div class="options">
	<p>Sort by</p>
	<select name="" id="" ng-model="tag" ng-options="tag.name for tag in tags" ></select>
	<a href="#" class="edit">Edit Mode</a>
  	<a href="#" class="view-unpublished">View un-published</a>
  	<a ng-click="uploadImage($event)" href="#" class="button">Upload Image</a>
</div>

<div class="cards">
	<a ng-repeat="image in images | filter:containsTag(tag)">
		<img ng-src="img/drawings/{{image._id}}{{image.extension}}" ng-click="selectImage(image);">
	</a>
</div>